@import 'bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}


header {
  padding: 2rem;
  background-color: lightgrey;
  margin-bottom: 2rem;

  .title {

    color: black;
    text-align: center;
  }

}

.tab_content {
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 2rem;
  width: 100%;
}